[alias]
  cl = clone
  st = status -uno -s -b
  sta = status
  ci = commit
  co = checkout
  br = branch -va
  go = checkout -b
  wo = checkout -t
  ds = diff --staged
  di = diff --color-words
  poule = pull
  poush = push
  logs = log --stat -p --decorate
  hist = log --graph --pretty=format:'%Cred%h%Creset -%C(bold yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  todo = grep --line-number -I -i --word-regexp TODO
  today = !git log --author=$(git config user.email) --since=yesterday
  cancel = reset HEAD^1
  correct = commit --amend -m
  sweep = "!f() { git branch --merged $([[ $1 != \"-f\" ]] \\\n&& git rev-parse master) | egrep -v \"(^\\*|^\\s*(master|develop)$)\" \\\n| xargs git branch -d; }; f"
  sweeptags = "!f() { git tag -l | xargs git tag -d && git fetch --tags; }; f"

[core]
  excludesfile = ~/.gitignore-python

[push]
  default = matching
